:root { /*Defininir paleta de colores, es para guardar variables*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107; 
    --secundario:#0097A7;
    --gris:#757575; 
    
    /*--fuente-principal: 3.8rem ;/* no solo es para guardar colores se pueden poner varias variables que se utilicen en el codigo*/
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
} /* estas dos primeras lineas es para que sea sencillo utilizar los rem en toda la pagina*/
/* 1 rem = 10 px*/
.titulo  {
    text-align: center;
    font-size: 3.8rem;
    /*color:var(--primario); Esto es una variable de css*/
}

.titulo span {
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;/* toma 1200px como maximo, para que se adapte a la pantalla cuando se  vuelve pequeña o grande*/
    margin: 0 auto;/*reloj, si solo son dos valores el primero seria arriba y abajo y el segundo seria derecha izquierda*/
}

.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column; /*para que la barra en pantalla pequeña se muestre de arriba hacia abajo*/
    
}
@media (min-width: 768px) {/*768px es la pantalla de tablets, 480px telefono. 1140px para pc*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{ /*cambio de color cuando nos posamos en nombre de enlace*/
    background-color: var(--primario);
    color: var(--oscuro);
}